body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: #030712;
  color: white;

}

/* Header */
.header{
    width: full;
    height: 130px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    gap: 0px;
    padding-left: 100px;
    padding-right: 100px;
    border: 3px solid #00BCFF;
    background-color: #1E2939;
    /* border-top: 3px solid #00BCFF; */

}

.logo{
    width: full;
    height: full;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: auto;
    height: 100px;
}

.prodi{
    display: flex;
    width: full;
    height: full;
    /* background-color: blueviolet; */
    text-align: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    border-left: 3px solid #00BCFF;
    border-right: 3px solid #00BCFF;
    padding-left: 50px;
    padding-right: 50px;

}


/* Main */
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: white; */
    margin-top: 50px;
    gap: 50px;
}

.judul{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.data{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
    border-bottom: 3px solid #00BCFF;
    padding-bottom: 50px;
    gap: 50px;
}

.data-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-data{
    padding: 20px;
    background-color: #1E2939;
    border: 3px solid #00BCFF;
    border-radius: 20px;
    height: 250px;
    width: 250px;
    font-size: 20px;
    text-align: center;

}

.border-data div{
    display: flex;
    justify-content: center;
    font-size: 46px;
    font-weight: 500;
    /* background-color: white; */
    height: 100%;
    width: 100%;
    align-items: center;
    transform: translateY(-20px);
}

.status{
    margin-left: 100px;
    font-size: 20px;
    font-weight: 500;
}

.ip{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

select {
      width: 550px;
      padding: 8px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 20px;
    }


/* Footer */
.footer{
    width: full;
    height: 100px;
    background-color: #1E2939;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    line-height: 1.8;
    color: #00BCFF;
    font-weight: 600;
}

.button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    margin-left: -10px;
    font-weight: 500;
}

.inputIP{
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    padding-left: 20px;
}

.IPtext{
    font-size: 18px;
}

.dimensi{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    border-bottom: 3px solid #00BCFF;
}

.dataSolar{
    margin-left: 100px;
}

#dimensiTanki{
    display: flex;
    gap:50px;
}

#ipForm{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.body-history{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.data-table{
    background-color: whitesmoke;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
}

.data-table th {
    background-color: gray;
    color: white;
    padding: 10px;
    text-align: left;
}

.data-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.data-table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* warna baris ganjil */
}

.data-table tbody tr:nth-child(even) {
    background-color: #e7e5e5; /* warna baris genap */
}


.get{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-weight: 700;
    font-size: 18px;
    gap: 10px;
}

.jarak{
    font-weight: 700;
    font-size: 18px;
}

.ip-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ip-row input {
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}

.ip-box {
    margin-bottom: 12px;
}

label{
    font-size: 20px;
}